<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{title}} | SMACSS docs</title>
  <link rel="stylesheet" href="{{assets}}css/app.css">
  <link rel="stylesheet" href="{{assets}}css/docs.css">
  {{{head}}}
</head>
<body class="am-doc">
<!--[if lte IE 9 ]>
<div class="am-alert am-alert-danger ie-warning" data-am-alert>
  <button type="button" class="am-close">&times;</button>
  <div class="am-container">
    安全提醒：你的浏览器太古董了，有太多漏洞有可能导致安全问题，<a
    href="http://browsehappy.com/" target="_blank">速速点击换一个</a>！</div>
</div>
<![endif]-->

<header id="amz-header" class="hide">
  <div class="amz-container am-cf">
    <h1>
      <a href="/">SMACSS</a>
      <span class="am-badge am-badge-danger">0.1</span>
    </h1>
    <button class="am-btn am-btn-primary am-show-sm-only" data-am-collapse="{target: '.amz-header-nav'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>
    <nav>
      <ul class="amz-header-nav am-collapse">
        <li class="am-active"><a href="/getting-started">开始使用</a></li>
        <li><a href="/css">CSS</a></li>
        <li><a href="/javascript">JS 插件</a></li>
        <li><a href="/widgets">Web 组件</a></li>
        <li class="nav-react"><a href="http://amazeui.org/react/" target="_blank">React</a></li>
        <li class="amz-cse">
          <form action="http://zhannei.baidu.com/cse/search" method="get" target="_blank" class="cse-form">
            <input type="hidden" name="s" value="13988471460650623274">
            <input type="hidden" name="entry" value="1">
            <input type="text" required name="q" placeholder="搜索" autocomplete="off">
            <button><span class="am-icon-search"></span></button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="amz-banner hide">
  <div class="amz-container" data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1>开始使用</h1>
    <p>Amaze UI 概览，下载、使用，模板示例，二次开发……</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 bd-sidebar"></div>
    <div class="col-md-9 bd-content">
      {{{body}}}
    </div>
  </div>
</div>




{{{footer}}}
<!-- <script src="{{assets}}js/jquery.min.js"></script> -->
<script src="{{assets}}js/vendor/holder.min.js"></script>
<script src="{{assets}}js/vendor/ZeroClipboard.min.js"></script>
<script src="{{assets}}js/docs.js"></script>
<script>

</script>
</body>
</html>
