<!doctype html>
<html class="no-js">
<head>
  {{{meta}}}
</head>
<body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
  {{{navhome}}}

  <div class="bd-pageheader">
    <div class="container" data-scrollspy="{animation: 'scale-up', repeat: false}">
      {{{pageheader}}}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 bd-sidebar">
        <div class="bd-sidebar">
          <form class="bd-search hidden-sm-down">
            <input type="text" class="form-control" id="search-input" placeholder="搜索...">
            <div class="dropdown-menu bd-search-results" id="search-results"></div>
          </form>
          <nav class="bd-links" id="docsNavbarContent">
              {{{navdocs}}}
          </nav>
        </div>
      </div>
      <div class="col-md-9 bd-content">
        {{{body}}}
      </div>
    </div>
  </div>

  {{{footer}}}

</body>
</html>
